*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.pinterest{
    display: grid;
    grid-template-columns: 50px 1fr;
    height: 100vh;
}
.sidebar{
    margin-top: 10px;
    padding:20px 0;
}
.side{
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.side img{
    width: 30px;
    height: 30px;
    border-radius: 20px 20px;
}
.main{
    margin-top: 10px;
    overflow-x: hidden;
}
.nav{
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    gap: 20px;
    padding: 10px;
    align-items: center;
}
.search{
    background-color: rgb(164, 164, 164);
    border-radius: 5px;
    border: none;
    flex: 1;
    padding: 10px;
}
.account{
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
.dropdown{
    font-size: 20px;
}
.boards{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 20px;
    
}
.boards div{
    padding: 5px;
    border-radius: 5px;
}
.images{
    column-count: 6;
    column-gap: 16px;
}
.images img{
   width: 100%;
   margin-bottom: 16px;
   border-radius: 8px;
}
